title: Test Blog
email: your-email@domain.com
description: >-
  Test Description
baseurl: "" # Leave empty for username.github.io
url: "https://username.github.io" # Replace with your actual URL

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
